NEXT_PUBLIC_ELIXPO_CLIENT_ID=crumb-elixpo-web-dev
ELIXPO_CLIENT_SECRET=
ELIXPO_ACCOUNTS_DELETION_WEBHOOK=
POLLINATIONS_APP_KEY=pk_
CONNECTOR_ENCRYPTION_KEY=
ACCOUNTS_ORIGIN=https://accounts.elixpo.com
