NEXT_PUBLIC_ELIXPO_CLIENT_ID=crumb-elixpo-web-dev
NEXT_PUBLIC_ELIXPO_CLIENT_ID_CLI=crumb-elixpo-cli-dev
ELIXPO_CLIENT_SECRET=
ELIXPO_ACCOUNTS_WEBHOOK_SECRET=whk_
POLLINATIONS_APP_KEY=pk_
CONNECTOR_ENCRYPTION_KEY=
ACCOUNTS_ORIGIN=https://accounts.elixpo.com
